html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "figtree", sans-serif;
    color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    min-height: 100dvh;
    gap: 160px;
    margin: auto;
}

/*Header-a+p*/

header {
    height: 81px;
    max-height: 81px;
    width: 100%;
    background-color: var(--nav-footer-bg-overlay-color);
    display: flex;
    align-items: center;

}

.header-content {
    max-width: 1194px;
    margin: 0 auto;
    padding-right: 720px;
}

header a {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
}

header p {
    font-size: 42px;
    font-weight: bolder;
}

/*Main*/

main {

    flex: 1;
    padding: 0px 64px 0px 64px;
    max-width: 1194px;
}

/*Gallery-Section*/

.gallery-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 80px;

}

.gallery-section h1 {
    font-size: 56px;
    font-weight: 800;
    color: var(--font-h1-color);
}

.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-section img {
    height: 150px;
    width: 150px;
    border-radius: 16px;
    border: solid var(--img-solid-color);
    cursor: pointer;
}

.gallery-section img:hover {
    transform: scale(110%);
    border: solid var(--img-solid-hover-color);

}

/*Footer-a+p*/

footer {
    width: 100%;
    height: 128px;
    background-color: var(--nav-footer-bg-overlay-color);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    cursor: pointer;
}

footer a p {
    font-size: 24px;
    line-height: 22px;
}

footer p {
    font-size: 14px;
    font-weight: 400;
}

/*Galery-Responsive*/

@media screen and (max-width: 768px) and (min-width: 481px) {

    body {
        gap: 80px;
    }

    header nav {
        padding-left: 0;
    }

    header {
        justify-content: center;
        padding-left: 0px;
    }

}

@media screen and (max-width: 480px) {

    main {
        padding: 0;
    }

    header {
        justify-content: center;
        padding-left: 0px;
    }


}